<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- DB ir izveidota ar migrācijam  -->
		<!-- Nezinu kāpēc, bet man, lai palaistu Update-Database, vispirms kā galveno projektu ir jānorāda Tests projektu, pēc tam palaidīt Update-Database, un tikai tad kā galveno projektu atpakaļ jāuzliek MauiLietotne un tad viss strādā -->
		<!-- ConnectionStringu jānomaina gan šajā App.config failā, gan MauiLietotne.App.config failā -->
		<add name ="Md3DB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MD3;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
	</connectionStrings>
</configuration>